<?xml version="1.0" encoding="UTF-8"?>

<!-- define pre-processor variables for installer -->
<!-- product name -->
<?define ProductName = "Blackbox" ?>
<!-- manufacturer -->
<?define Manufacturer = "Propeller Software" ?>
<!-- software version -->
<?define Version = "0.0.2" ?>
<!-- target binary or executable -->
<?define TargetBin = "Blackbox.exe" ?>
<!-- primary upgrade or product guid -->
<?define ProductGuid = "8c7f8b12-65a7-4b12-bd64-4e2f38d9fb75" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
<Product Id="*" Name="$(var.ProductName)" Language="1033" Version="$(var.Version)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.ProductGuid)">
	<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

	<MajorUpgrade DowngradeErrorMessage="A newer version of $(var.ProductName) is already installed." />
	<MediaTemplate EmbedCab="yes"/>
		
	<WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
		
	<UI>
		<UIRef Id="WixUI_Minimal" />
		<Publish 
			Dialog="ExitDialog" 
			Control="Finish" 
			Event="DoAction" 
			Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed
		</Publish>
	</UI>
	<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch $(var.ProductName)" />
	<Property Id="WixShellExecTarget" Value="[InstallDir]$(var.TargetBin)" />
	<CustomAction 
		Id="LaunchApplication"
		BinaryKey="WixCA"
		DllEntry="WixShellExec"
		Impersonate="yes" />
		
	<Feature Id="ProductFeature" Title="$(var.ProductName)" Level="1">
		<ComponentGroupRef Id="BinaryComGroup" />
		<ComponentRef Id="RegistryEntries" />
		<ComponentRef Id="ApplicationShortcut" />
		<ComponentRef Id="RemoveInstallDir" />
	</Feature>
</Product>

<Fragment>
	<!-- step 1. define directory paths for installation files -->
	<Directory Id="TARGETDIR" Name="SourceDir">
		<!-- main programs directory usually program files -->
		<Directory Id="ProgramFilesFolder">
			<Directory Id="InstallParentDir" Name="$(var.Manufacturer)">
				<Directory Id="InstallDir" Name="$(var.ProductName)" />
			</Directory>
		</Directory>
		
		<!-- start menu programs folder -->
		<Directory Id="ProgramMenuFolder">
			<Directory Id="ApplicationProgramsFolder" Name="$(var.ProductName)" />
		</Directory>
	</Directory>
</Fragment>

<Fragment>
	<!-- step 2. define folders & files to remove on uninstall -->
	<DirectoryRef Id="InstallDir">
		<Component Id="RemoveInstallDir" Guid="8e6d50d6-15dd-4181-8640-d52bed948d8f">
			<RemoveFile Id="RemoveAllFilesOnUninstall" Directory="InstallDir" Name="*.*" On="uninstall" />
			<RemoveFolder Id="RemoveAllFoldersOnUninstall" Directory="InstallDir" On="uninstall" />
		</Component>
	</DirectoryRef>
</Fragment>

<Fragment>
	<!-- step 3. define application shortcuts -->
	<DirectoryRef Id="ApplicationProgramsFolder">
		<Component Id="ApplicationShortcut" Guid="8c7f8b12-65a7-4b12-bd64-4e2f38d9fb75">
			<Shortcut
				Id="ApplicationStartMenuShortcut"
				Name="$(var.ProductName)"
				Description="Video Transcoder"
				Target="[InstallDir]$(var.TargetBin)"
				WorkingDirectory="InstallDir"/>
			<Shortcut
				Id="UninstallProduct"
				Name="Uninstall $(var.ProductName)"
				Description="Uninstalls $(var.ProductName)"
				Target="[System64Folder]msiexec.exe"
				Arguments="/x [ProductCode]"/>
			<RegistryValue 
				Root="HKCU" 
				Key="Software\$(var.Manufacturer)\$(var.ProductName)" 
				Name="installed" 
				Type="integer" 
				Value="1" 
				KeyPath="yes"/>
			<RemoveFile Id="ApplicationShortcut" Name="*.*" On="uninstall"/>
			<RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
		</Component>
	</DirectoryRef>
</Fragment>

<Fragment>
	<!-- step 4. define registry keys -->
	<DirectoryRef Id="TARGETDIR">
		<Component Id="RegistryEntries" Guid="21553c39-1593-4c47-9806-a26b8d078191">
			<!-- application auto-start registry key -->
			<RegistryValue 
				Root="HKCU" 
				Key="Software\Microsoft\Windows\CurrentVersion\Run" 
				Name="$(var.ProductName)" 
				Type="string"
				Value="[InstallDir]$(var.TargetBin)"/>
			<!-- remove on uninstall -->
			<RemoveRegistryKey 
				Root="HKCU" 
				Key="Software\Microsoft\Windows\CurrentVersion\Run\$(var.ProductName)" 
				Action="removeOnUninstall"/>
		</Component>
	</DirectoryRef>
</Fragment>
</Wix>
