<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Blackbox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Blackbox.Properties.Settings>
            <setting name="GrpcHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="GrpcPort" serializeAs="String">
                <value>50051</value>
            </setting>
            <setting name="GrpcSSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TranscodingEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FFmpegExecutable" serializeAs="String">
                <value>C:\Program Files\ffmpeg\bin</value>
            </setting>
            <setting name="JobExpiryDays" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="FFmpegFlags" serializeAs="String">
                <value>-c:v libsvtav1 -crf 30 -preset 8</value>
            </setting>
            <setting name="Explorer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectedTemplateId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FFmpegFlavors" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>-c:v libx264 -preset ultrafast -crf 18</string>
                        <string>-c:v libx264 -preset superfast -crf 19</string>
                        <string>-c:v libsvtav1 -crf 28 -preset 10 -g 600</string>
                        <string>-c:v libsvtav1 -crf 30 -preset 8 -g 600</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="FlavorSelection" serializeAs="String">
                <value>Automatic Selection</value>
            </setting>
        </Blackbox.Properties.Settings>
    </userSettings>
</configuration>